.is-green {
  color: green;
}

.button--style-unset {
  all: unset;
  cursor: pointer;
}

#root {
  height: 100vh;
}

.is-full-height {
  height: 100%;
}

.tabs.is-fixed-bottom li a {
  border-bottom: 0;
}

.tabs.is-fixed-bottom li.is-active a {
  border-bottom: 0;
  border-top: 1px solid hsl(217, 71%, 53%);
}