.is-green {
  color: green;
}

.button--style-unset {
  all: unset;
  cursor: pointer;
}

#root {
  height: 100vh;
}

.is-full-height {
  height: 100%;
}

.tabs.is-fixed-bottom li a {
  border-bottom: 0;
}

.tabs.is-fixed-bottom li.is-active a {
  border-bottom: 0;
  border-top: 1px solid hsl(217, 71%, 53%);
}

.has-overflow-scroll {
  overflow: scroll;
}

.navbar.is-fixed-bottom.has-shadow {
  box-shadow: 0 -1px 3px 1px lightgrey;
}

.has-navbar-fixed-bottom {
  padding-bottom: 7vh;
}

.control .icon {
  color: inherit;
}

.navbar-menu.is-active {
  animation: navAnim .2s ease-in-out;
}

.animated {
  animation: navAnim .3s ease-in;
}

@keyframes navAnim {
  0% {
    display: none;
    opacity: 0;
    height: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    opacity: 1;
    height: 100%;
  }
}

.is-loading {
  position: relative;
  pointer-events: none;
  opacity: 0.5;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #000;
  border-color: #000 transparent #000 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.dev-to {
  width: 2em;
  height: 2em;
  margin-bottom: -5px;
}